body {
    text-align: center;
}

:root {
    --color-background: #eee;
    font-size: 62.5%;
}

.quadrado {
    text-align: center;
    width: 5rem;
    background-color: var(--color-background);
    display: inline-block;
    padding: 4rem;
    font-size: 6rem;
    margin: 5px;
    cursor: pointer;
    color: var(--color-background);
}

.jogador,
.vencedor {
    font-size: 3rem;
    margin-top: 1rem;
}

button {
    margin-top: 1rem;
    width: 10rem;
    height: 3rem;
    background-color: var(--color-background);
    cursor: pointer;
}